root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
ij_kotlin_packages_to_use_import_on_demand = androidx.camera.core,androidx.compose.foundation.layout,androidx.compose.material.icons.filled,androidx.compose.material3,androidx.compose.runtime,com.example.farmdirectoryupgraded.data,java.util,org.junit.Assert
ktlint_standard_trailing-comma-on-call-site = disabled
