# Server configuration
PORT=3000

# Database connection (Prisma)
# Example for SQLite: "file:./dev.db"
# Example for PostgreSQL: "postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
DATABASE_URL="file:./dev.db"

# Storage path for uploaded images
CAPTURE_STORAGE_DIR="./capture_storage"
